@model theTripChalleng.ViewModels.LoginViewModel

@* create a simple login form *@
<form method="post" asp-action="Login">
    <div>
        <label asp-for="Phone">رقم الهاتف</label>
        <input asp-for="Phone" maxlength="10" />
    </div>
    <div>
        <label asp-for="Password">كلمة المرور</label>
        <input asp-for="Password" type="password" />
    </div>

    <div class="text-danger fs-6">
        <p>هل نسيت كلمة المرور؟</p>
        <p>يرجى الاتصال بالمسؤول لإعادة تعيين كلمة المرور الخاصة بك.</p>
    </div>
    
    <button type="submit">تسجيل الدخول</button>
    <a href="@Url.Action("Register", "Account")" class="btn">ليس لديك حساب؟ سجل الآن</a>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

@* alert for exceptions *@
@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}