@{
    var userId = Context.Session.GetInt32("UserId");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - theTripChalleng</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/theTripChalleng.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <div class="d-inline-flex w-100 justify-content-between">
                    <ul class="navbar-nav flex-row justify-content-around justify-content-sm-start flex-grow-1">
                        <li class="nav-item d-none d-sm-inline-block">
                            <a class="navbar-brand" asp-controller="Home" asp-action="Index">theTripChalleng</a>
                        </li>

                        @* make it only appear after login *@
                        @if (userId != null)
                        {
                            <li class="nav-item">
                                @* take to user details page  MVC *@
                                @* add icon *@
                                <a class="nav-link" asp-controller="Account" asp-action="Details">
                                    <i class="bi bi-person"></i> <span class="d-none d-sm-inline">الملف الشخصي</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Rewards">
                                    <i class="bi bi-gift"></i> <span class="d-none d-sm-inline">المكافآت</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="LeaderboardByCategory">
                                    <i class="bi bi-trophy"></i> <span class="d-none d-sm-inline">قائمة المتصدرين</span>
                                </a>
                            </li>
                            <li class="ms-sm-auto nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Logout">
                                    <i class="bi bi-box-arrow-right text-danger"></i>
                                    </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>